<%- include("partials/header") %>

<div class="container">
    <h1>Welcome to the resume screening app</h1>
    <a href="/jd" class="btn btn-primary btn-large">View all JDs</a>
    <a href="/cv" class="btn btn-info btn-large">View all CVs</a>
</div>

<%- include("partials/footer") %>