<%- include("../partials/header") %>

<div class="container">
    <h1><%= currJd.title %></h1>
    <p>
        Job description : <%= currJd.description %>
    </p>
</div>

<%- include("../partials/footer") %>