<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-6 m-auto">
			<h1 class="text-center display-4 my-4">CV upload</h1>
			<form action="/cv" method="POST" enctype="multipart/form-data">
				<div class="custom-file mb-3">
					<input type="file" name="file" id="file" class="custom-file-input">
					<label for="file" class="custom-file-label">Choose file</label>
				</div>
				<input type="submit" value="Submit" class="btn btn-primary btn-block">
			</form>
			<a href="/cv">Go back</a>
		</div>
	</div>
</div>
<script>
	$('#file').on('change',function(){
		//get the file name
		var fileName = $(this).val();
		//replace the "Choose a file" label
		$(this).next('.custom-file-label').html(fileName);
	});
</script>

<%- include("../partials/footer") %>